@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

.block-border {
  @apply border-2 border-[#EFEAFA] rounded-lg px-4 md:px-6 pt-6 pb-8;
}

.custom-checkbox:checked + div svg {
  display: block;
}

.input-hidden {
  filter: blur(3px);
  pointer-events: none;
}

.height-not-found-page {
  height: calc(100vh - 180px);
}

.schedule-border {
  text-align: center;
  border-top-width: 1px;
  border-left-width: 1px;
  border-color: #7f7f7f;
  padding: 6px 4px;
}
.border-end-line {
  border-right-width: 1px;
  border-color: #7f7f7f;
}
.border-end-row {
  border-bottom-width: 1px;
  border-color: #7f7f7f;
}

.height-screen-tutor {
  height: calc(100vh - 180px);
}
