
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  .container-register {
    position: relative;
    display: block;
    max-width: 900px;
    width: 100%;
    min-height: 900px;
    height: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .container-register header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    /* color: #333; */
  }
  
  .container-register header::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 120px;
    /* background-color: green; */
    border-radius: 8px;
    text-align: center;
  }
  
  .container-register form {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 16px;
    background-color: #f2f2f2;
    
  }
  
  .container-register  .form {
    position: absolute;
    background-color: #fff;
  }
  
  .container-register  .form.second {
    opacity: 0;
    pointer-events: none;
  }
  
  .container-register  .details {
    margin-top: 10px;
  }
  
  .container-register .infor {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .container-register  .infor label {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #333;
  }
  
  .container-register .infor label.active {
    color: green;
  }
  
  .container-register  .title {
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
  }
  
  .container-register form .fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  
  .container-register  .fields .input-field {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .gender-register-tutor{
    display: flex;
    justify-content: space-between;
  }

  .gender-register-tutor .male{
    margin-left: -100px;
    margin-right: 80px;
    margin-top: 5px;
    height: 18px;
    width: 18px;
  }

  .gender-register-tutor .female{
    margin-left: -80px;
    margin-top: 5px;
    height: 18px;
    width: 18px;
  }

  .input-field label {
    display: flex;
    font-weight: 500;
    color: #333;
    width: 150px;
    /* background-color: aqua; */
  }
  
  .container-register  .fields .input-field input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

  .container-register textarea{
    border: solid black;
    height: 200px;
    width: 700px;
  }
  
  .container-register  button,
  .backBtn {
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: red;
    transition: all 0.3s linear;
    cursor: pointer;
  }

  
  
  .container-register  .backBtn {
    font-size: 16px;
    font-weight: 400;
  }
  
  form button:hover {
    background-color: pink;
  }
  
  form .buttons {
    display: flex;
    justify-content: center;
  }
  
  form .buttons button,
  .backBtn {
    margin-right: 20px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  